# Telegram Token
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Lopp interval
POLL_INTERVAL_SECONDS=300
# Settings
PAGES_TO_CHECK=3
INCLUDE_KEYWORDS=medic
EXCLUDE_KEYWORDS=asistent,receptioner,receptie
LOCATION_KEYWORDS=bucuresti,ilfov
MAX_SEEN_IDS=3000

# true = one time, false = non-stop
RUN_ONCE=false
